.ssoButtons {
    width: 100%;
    margin-bottom: 30px;
}

.ssoButton {
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.7em;
    padding-block: 1em;
}